@page
@model WebApplication1.Pages.EmailConfirmedModel
@{
    ViewData["Title"] = "Email Confirmed";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1>Email Confirmed</h1>
            <p>Your email has been successfully confirmed. You can now log in to your account.</p>
            <a class="btn btn-primary" href="/Login">Go to Login</a>
        </div>
    </div>
</div>
