@page
@model WebApplication1.Pages.ForgotPasswordConfirmationModel
@{
    ViewData["Title"] = "Forgot Password Confirmation";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2>Forgot Password Confirmation</h2>
            <p>
                Please check your email to reset your password.
            </p>
        </div>
    </div>
</div>